/*
 *= require custom
 *= require highlight
 *= require slidebars/distribution/0.10.2/slidebars.css
 *= require slidebars
 *= require top
 *= require article
 *= require media
 *= require_self 
 */

.cleanness {
  background: rgba(255, 255, 255, 0);
  border: none;
}

img.icon {
  margin-right: 10px;
}