<% wrap_layout :layout do %>
  <%= partial 'partials/nav' %>
  <main class='container main-container' role='main'>
    <section>
      <div class="row">
        <section class='col-sm-8'>
          <%= yield %>
        </section>
        <aside class='col-sm-4'>
          <%= partial 'partials/social/twitter' %>
          <hr />
          <%# partial 'partials/search' %>
        </aside>
      </div>
    </section>
  </main>
<% end %>
