//
// top
//
.top-header {
  background-image: image-url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  //height: 600px;
  padding-bottom: 100px;
}
.top-header-title, .top-header-list {
  color: #fff;
  a, a:hover, a:visited {
    color: #fff;
  }
}

#top-header-logo {
  font-weight: bold;
  margin: 10 auto;
}

#top-header-services {
  img.icon {
    margin-right: 10px;
  }
}