//
// bootswatch
//

@import 'bootswatch/cerulean/variables';
//
// bootstrap
//
$font-family-base: 'Helvetica Neue', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

//$navbar-default-bg: #89c3eb;
//$navbar-inverse-color: #fff;
//$navbar-inverse-link-color: #fff;
//$navbar-inverse-bg: #164a84;

//$brand-primary: #44617b;
//$brand-success: #47885e;
//$brand-info: #007bbb;

$line-height-base: 1.6;


@import 'bootstrap/variables';



//
// original
//
$opacity: 0.8;
$slidebars-opacity: 0.8;
$slidebars-color: #fff;
$slidebars-text-color: #2b2b2b;
