%h5.text-right
  %i.fa.fa-search.fa-fw
  検索
%form#cse-search-box{action: "http://google.com/cse"}
  %input{name: "cx", type: "hidden", value: "017940610759396634171:5zwmyue_-dy"}
  %input{name: "ie", type: "hidden", value: "UTF-8"}
  %input{name: "q", size: "31", type: "text", class: 'search-input form-control'}
= javascript_include_tag "//www.google.com/cse/brand?form=cse-search-box&lang=ja"
